/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
  background-color: slategrey;
  color: white; 

}
h1 {
  font-family: verdana, arial, sans-serif; 
}

button {
  padding: 10px;
  border-radius: 10px;
}

#gameButtonArea > button {
  width:200px;
  height:200px;
  margin:2px;
}

.hidden {
  display: none;
}

#button1 {
  background: lightgreen;
  
}
#button1:active, #button1.lit {
  font-size: 0;
  background:green url(
  'https://cdn.glitch.global/10c4817b-8659-44c4-9a8b-b4e3f3ac3844/tiger.png?v=1648849917070');
  background-size: cover;
}

#button2 {
  font-size: 20;
  background: lightblue;
}

#button2:active, #button2.lit {
    font-size: 0;
    background:blue url(https://cdn.glitch.global/10c4817b-8659-44c4-9a8b-b4e3f3ac3844/lion.webp?v=1648849430001);
    background-size: cover;

}

#button3 {
    background: pink;
}

#button3:active, #button3.lit {
    font-size: 0;
    background:red url(https://cdn.glitch.global/10c4817b-8659-44c4-9a8b-b4e3f3ac3844/dog.png?v=1648850001308);
    background-size: cover;

}

#button4 {
    background: lightyellow ;
}

#button4:active, #button4.lit {
    font-size: 0;
    background:yellow url(https://cdn.glitch.global/10c4817b-8659-44c4-9a8b-b4e3f3ac3844/cat.png?v=1648850142941);
    background-size: cover;

}
#button5 {
    background: Wheat;
}

#button5:active, #button5.lit {
    font-size: 0;
    background:Tan url(https://cdn.glitch.global/10c4817b-8659-44c4-9a8b-b4e3f3ac3844/snak.png?v=1648850541419);
    background-size: cover;

}
#button6 {
    background: Thistle;
}

#button6:active, #button6.lit {
    font-size: 0;
    background:Violet url(https://cdn.glitch.global/10c4817b-8659-44c4-9a8b-b4e3f3ac3844/pig.png?v=1648850331426);
    background-size: cover;

}
#button7 {
    background: SkyBlue;
}

#button7:active, #button7.lit {
    font-size: 0;
    background:SlateBlue url(https://cdn.glitch.global/10c4817b-8659-44c4-9a8b-b4e3f3ac3844/turtle.webp?v=1648850626103);
    background-size: cover;

}
#button8 {
    background: lightgray;
}

#button8:active, #button8.lit {
    font-size: 0;
    background:gray url(https://cdn.glitch.global/10c4817b-8659-44c4-9a8b-b4e3f3ac3844/monkey.png?v=1648850716474);
    background-size: cover;

}